.body {
  background-color: #f3f4f6;
  font-family: "Manrope", sans-serif;
}

.container {
  font-family: "Manrope", sans-serif;
  background: linear-gradient(#f9fafb, #fff);
  margin: 100px auto 0;
  padding-bottom: 50px;
  box-shadow: 1px 4px 6px 1px rgba(140, 141, 142, 0.22);
  border: solid 5px #fff;
  border-radius: 50px;
}

.weather {
  max-width: 600px;
}

.city-choice {
  padding-top: 60px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.local-icon {
  display: inline;
  width: 45px;
  margin-bottom: 9px;
}

input:focus {
  outline: none;
}

#input-city-choice {
  display: inline;
}

.input-city {
  border-radius: 50px;
  border: 0;
  width: 275px;
  height: 40px;
  box-shadow: 0px 2px 4px -1px rgba(140, 141, 142, 0.42);
  padding-left: 30px;
  padding-right: 30px;
  color: #6b7280;
  font-size: 16px;
}

.input-city-submit {
  font-size: 16px;
  background-color: #fff;
  color: #6b7280;
  border-radius: 50px;
  border: none;
  width: 96px;
  height: 40px;
  box-shadow: 0px 2px 4px -1px rgba(140, 141, 142, 0.42);
}

.current-location-button {
  font-size: 16px;
  background-color: #fff;
  color: #6b7280;
  border-radius: 50px;
  border: none;
  width: 219px;
  height: 40px;
  box-shadow: 0px 2px 4px -1px rgba(140, 141, 142, 0.42);
  margin-left: 50px;
}

.input-city-submit:hover {
  color: #fff;
  background-color: #b6c3db;
  transition: all 0.25s ease-out;
}

.current-location-button:hover {
  color: #fff;
  background-color: #b6c3db;
  transition: all 0.25s ease-out;
}

.sun {
  animation: 2s ease-in-out 0s infinite alternate sun-rise;
}

@keyframes sun-rise {
  from {
    transform: translateX(0.5vh);
  }
  to {
    transform: translateX(-0.5vh);
  }
}

.main-weather-image {
  width: 275px;
  padding: 30px 0 20px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.actual-date {
  color: #4b5563;
  font-weight: 400;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 0;
}

.actual-time {
  color: #4b5563;
  font-weight: 400;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.actual-city {
  color: #4b5563;
  font-weight: 800;
  font-size: 42px;
  margin-top: 0;
  margin-bottom: 0;
}
.actual-temperature {
  color: #4b5563;
  font-weight: 800;
  font-size: 75px;
  margin-top: -10px;
  margin-bottom: -5px;
}
.units {
  font-weight: 600;
  font-size: 40px;
  top: -0.85em;
  color: #b6c3db;
}

.vertical-line {
  color: #4b5563;
  font-weight: lighter;
}

#fahrenheit.active {
  color: #4b5563;
  cursor: default;
  text-decoration: none;
}

#fahrenheit.active:hover {
  color: #4b5563;
  font-size: inherit;
  cursor: default;
  text-decoration: none;
  transition: none;
}

#fahrenheit:hover {
  cursor: pointer;
  font-size: 43px;
  transition: all 0.3s ease-out;
}

#celsius.active {
  color: #4b5563;
  cursor: default;
  text-decoration: none;
}

#celsius.active:hover {
  color: #4b5563;
  font-size: inherit;
  cursor: default;
  text-decoration: none;
  transition: none;
}

#celsius:hover {
  cursor: pointer;
  font-size: 43px;
  transition: all 0.3s ease-out;
}

.general-weather-description {
  color: #b6c3db;
  font-weight: 600;
  font-size: 20px;
  margin-top: -15px;
  margin-bottom: 0;
  display: inline-block;
}

.general-weather-description:first-letter {
  text-transform: capitalize;
}

.space {
  display: inline-block;
  margin-left: 20px;
}

.wind {
  color: #b6c3db;
  font-weight: 600;
  font-size: 20px;
  margin-top: -15px;
  margin-bottom: 0;
  display: inline;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #4b5563;
}

#forecast-column {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
  padding: 0 3%;
}

.col-2 {
  height: 200px;
  width: 15%;
  background: linear-gradient(#f9fafb, #fff);
  box-shadow: 0px 4px 5px -1px rgba(140, 141, 142, 0.22);
  border-radius: 40px;
}

.weather-forecast-date {
  text-align: center;
  margin: 16px auto 0;
  font-size: 18px;
  font-weight: 400;
}

.forecast-image {
  margin: 5px auto;
  width: 100px;
  text-align: center;
}

.weather-forecast-temperatures {
  margin: 0 auto 15px;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.weather-forecast-temperatue-min {
  color: #b6c3db;
  margin-left: 10px;
}

.git-link {
  margin-top: 20px;
  margin-bottom: 55px;
  font-size: 14px;
  color: #6b7280;
  margin-right: 20%;
  text-align: right;
}
